node_modules/
.next/
out/
.DS_Store
*.local

/public/photography/*
!/public/photography/_web/

/public/Mechanic/*
!/public/Mechanic/_web/

/public/photography/_web/*.tmp
/public/Mechanic/_web/*.tmp
/lib/generated/*.tmp
/public/images/portrait.png
.next-dev/
